<div class="wrap">
        <div class="c-timetable">
            <perch:blocks>
                <perch:block label="Date" type="sectionDate">
                    <div class="c-timetable__date restrict">
                        <h3><perch:content type="text" label="Date" id="date"></h3>
                    </div>
                </perch:block>
                <perch:block label="Section Title" type="sectionTitle">
                    <div class="c-timetable__title restrict">
                        <h3><perch:content type="text" label="Title" id="title">
                            <perch:if exists="titleSubtext">
                                <br>
                            <em style="font-size: 1.6rem; font-weight: 400;"><perch:content type="text" label="Subtitle" id="titleSubtext"></em>
                            </perch:if>
                        </h3>
                    </div>
                </perch:block>
                <perch:block label="Section Subtitle" type="sectionSubTitle">
                    <div class="c-timetable__subtitle restrict">
                        <h4><perch:content type="text" label="Sub Title" id="subTitle"></h4>
                    </div>
                </perch:block>
                <perch:block label="Talk" type="talk">
                <div style="width: 100%" class="restrict c-timetable__talk-wrapper">
                    <div class="c-timetable__talk">
                        <div class="c-timetable__time"><perch:content id="startTime" type="time" label="Start Time" format="H:i" native="true" ></div>
                        <div class="c-timetable__talk-description-wrapper">
                            <div style="display: flex; justify-content: space-between; gap: 1rem; align-items: flex-start;">
                                <perch:content id="title" label="Title" type="text"> 
                                <perch:if exists="abstract">
                                    <button class="c-timetable__button" style="display: block;">View Details</button>
                                </perch:if>
                            </div>
                        </div>
                        <div class="c-timetable__talk-speaker"><perch:content id="speaker"></div>
                    </div>
                    <div class="c-timetable__talk-description">
                        <div class="c-timetable__talk-description-background">
                            <perch:if exists="speakerBio OR speakerImage">
                                <div class="c-timetable__talk-speaker-details">
                                    <perch:if exists="speakerImage">
                                        <img class="c-timetable__talk-speaker-image" src="<perch:content id="speakerImage", label="Speaker Image" type="image" width="200">" />
                                    </perch:if>
                                    <perch:if exists="speakerBio">
                                        <div>
                                            <h4 class="c-timetable__talk-speaker-name"><perch:content id="speaker" label="Speaker" type="text"></h4>
                                            <div class="c-timetable__talk-speaker-bio"><perch:content id="speakerBio" label="Speaker Bio" type="textarea" editor="redactor" html></div>
                                        </div>
                                    </perch:if>
                                </div>
                            </perch:if>
                            <div class="c-timetable__talk-description-text">
                                <perch:content type="textarea" editor="redactor" label="Abstract" id="abstract" html>
                            </div>
                        </div>
                    </div>
                </div>
                </perch:block>
                <perch:block label="Break" type="break">
                    <div class="c-timetable__break restrict">
                        <div class="c-timetable__time"><perch:content id="startTime" type="time" label="Start Time" format="H:i" native="true" ></div>
                        <div class="c-timetable__break-text"><perch:content id="text" type="text" label="Break"></div>
                    </div>
                </perch:block>
                
                <perch:block label="Key" type="key">
                    <div class="c-timetable__key restrict">
                        <div>Time</div>
                        <div>Talk</div>
                        <div class="c-timetable__talk-speaker">Speaker</div>
                    </div>
                </perch:block>
            </perch:blocks>
        </div>
</div>