<div class="wrap">
    <div class="restrict">
        <table class="c-timetable">
            <perch:blocks>
                <perch:block label="Date" type="sectionDate">
                    <tr class="c-timetable__date">
                        <td colspan="3">
                            <h3><perch:content type="text" label="Date" id="date"></h3>
                        </td>
                    </tr>
                </perch:block>
                <perch:block label="Section Title" type="sectionTitle">
                    <tr class="c-timetable__title">
                        <td colspan="3">
                            <h3><perch:content type="text" label="Title" id="title">
                                <perch:if exists="chair">
                                    <br>
                                <em style="font-size: 1.6rem; font-weight: 400;">Chairperson <perch:content type="text" label="Chair" id="chair"></em>
                                </perch:if>
                            </h3>
                        </td>
                    </tr>
                </perch:block>
                <perch:block label="Section Subtitle" type="sectionSubTitle">
                    <tr class="c-timetable__subtitle">
                        <td colspan="3" class="c-timetable__subtitle">
                            <h4><perch:content type="text" label="Sub Title" id="subTitle"></h4>
                        </td>
                    </tr>
                </perch:block>
                <perch:block label="Talk" type="talk">
                    <tr class="c-timetable__talk">
                        <td><perch:content id="startTime" type="time" label="Start Time" format="H:i" native="true" ></td>
                        <td><perch:content id="title" label="Title" type="text"></td>
                        <td><perch:content id="speaker" label="Speaker" type="text"></td>
                    </tr>
                </perch:block>
                <perch:block label="Break" type="break">
                    <tr class="c-timetable__break">
                        <td><perch:content id="startTime" type="time" label="Start Time" format="H:i" native="true" ></td>
                        <td colspan="2"><perch:content id="text" type="text" label="Break"></td>
                    </tr>
                </perch:block>
                
                <perch:block label="Key" type="key">
                    <tr class="c-timetable__key">
                        <th>Time</th>
                        <th>Talk</th>
                        <th>Speaker</th>
                    </tr>
                </perch:block>
            </perch:blocks>
        </table>
    </div>
</div>