<perch:before><ul class="hamburger hide"></perch:before>
    <li 
        class="<perch:if exists="current_page">selected</perch:if><perch:if exists="ancestor_page">ancestor</perch:if> hamburgerItem"
        data-children="<perch:if exists="subitems">true<perch:else>false</perch:if>"
    >
        <perch:if exists="subitems">
            <i class="fas fa-angle-down mobile linkIcon hide"></i>
        </perch:if>
        <a href="<perch:pages id="pagePath" />" class="hamburgerLink">
            <perch:if exists="subitems">
                <i class="fas fa-angle-left linkIcon hide"></i>
            </perch:if>
            <perch:pages id="pageNavText" />
        </a>
        <perch:pages id="subitems" encode="false"/>
    </li>
    <perch:after></ul></perch:after>